<div id='detalleproducto' ng-repeat="product in producto">
    <h3>{{product.nombreProducto}}</h3>
    <div class='imagen'>
        <img ng-src="img/productos/{{product.nombreCategoria}}/{{product.imagen}}" alt="{{product.nombreProducto}}"/>
    </div>
    <div class='price'><span ng-hide="ingles">Precio</span><span ng-show="ingles">Price</span>: <span>{{product.precioUnidad}}</span> €</div>
    <p>{{product.descripcion }}</p>
    <span>{{product.stock}} <span ng-hide="ingles">unidad(es) disponible(s)</span><span ng-show="ingles">unit(s) available</span></span>
        <br/>
        <button type='button' ng-click='anadirCesta()' style='padding:5pt;margin-top:10pt;' ng-show="product.stock>0"><span ng-hide="ingles">Añadir al carrito</span><span ng-show="ingles">Add to cart</span></button>
</div>