body{
    margin: 0;
}

header{
    width: 100%;
    background: gray;
    h1{
        text-align: center;
        padding: 10pt;
    }
    img{
        width: 30pt;
        height: 30pt;
        float: right;
        margin-right: 5pt;
    }
}

aside{
    width: 20%;
    float: left;
    ul{
        margin-top: 10pt;
        padding: 0;
        list-style: none;
        a{
            text-decoration: none;
            color: black;
        }
        div{
            padding: 10pt 0;
            text-align: center;
            width: 90%;
            margin: 0 5%;
            margin-bottom: 1pt;
            border: solid black 1pt;
            background: #3278b3;
            &:hover{
                background: #3985b9;
                color: white;
            }
        }
        div.goto-pdf{
            background-color: #8c84c4;
        }
    }
}
main{
    width: 80%;
//    background: whitesmoke;
    float: left;
} 

h2.tituloGestion{
    text-align: center;
    color: #0c84c4;
    font-family: "Trebuchet MS,Tahoma,Verdana,Arial,sans-serif";
    font-weight: bold;
}


#gbox_list, .botones{
    margin: auto;
    text-align: center;
}



.ui-jqgrid .ui-pg-input{
    height: inherit;
}


#dialog-form{
    width: 50%;
    display: none;
    form#form{
        margin: 10pt;
    }
    legend{
        font-size: 16pt;
        font-weight: bold;
        text-align: center;
    }
}


div.ui-dialog{
    width: 1000px;
}


a:focus, a:hover{
    text-decoration: none;
    color: black;
}


.id{
    display: none;
}


main.ng-scope{
    min-height: 80%;
}