<div class='sectiontitle'><p>{{nombreCategoria}}</p></div>

<div class='section'>

    <div class='boton_orden'>
        <select id='orden' ng-model="seleccionado" ng-change="hola(seleccionado)">
            <option value='0' ng-selected="orden===0">Ordenar por...</option>
            <option value='1' ng-selected="orden===1">Orden nombre ascendente</option>
            <option value='2' ng-selected="orden===2">Orden nombre descendente</option>
            <option value='3' ng-selected="orden===3">Orden precio ascendente</option>
            <option value='4' ng-selected="orden===4">Orden precio descendente</option>
        </select>
    </div>
    <div class='article art puntero' ng-repeat="producto in productos">
        <a ng-href="#/detallesProducto/{{producto.idProducto}}">
        <h3>{{producto.nombreProducto}}</h3>
        <div class='imagen'><img ng-src="img/productos/{{producto.nombreCategoria}}/{{producto.imagen}}" alt="{{producto.nombreProducto}}"/></div>
        <div class='description' title="{{producto.descripcion}}">{{producto.descripcion}}</div>
        <div class='price'>Precio: <span>{{producto.precioUnidad}}</span> €</div>
        </a>
    </div>
</div>