<div class='sectiontitle'><p>{{nombreCategoria}}</p></div>
<div class='section'>
    <div class='boton_orden'>
        <input type="checkbox" ng-model="sinStock">Mostrar solo articulos en stock<br>
        <select ng-model="indice">
            <option value="0">Seleccionar orden...</option>
            <option value="1">Ordenar por nombre ascendente</option>
            <option value="2">Ordenar por nombre descendente</option>
            <option value="3">Ordenar por precio ascendente</option>
            <option value="4">Ordenar por precio descendente</option>
        </select>
    </div>
    <div class='article art puntero' ng-repeat="producto in productos | orderBy:valoresSelect[indice].valor:valoresSelect[indice].orden" ng-hide="sinStock && producto.stock===0">
        <a ng-href="#/detallesProducto/{{producto.idProducto}}">
        <h3>{{producto.nombreProducto}}</h3>
        <div class='imagen'><img ng-src="img/productos/{{producto.nombreCategoria}}/{{producto.imagen}}" alt="{{producto.nombreProducto}}"/></div>
        <div class='description' title="{{producto.descripcion}}">{{producto.descripcion}}</div>
        <div class='price'>Precio: <span>{{producto.precioUnidad |number:2}}</span> €</div>
        <div class='stock'>Stock <span>{{producto.stock}}</span> unds</div>
        </a>
    </div>
</div>