<!--
<div class='sectiontitle'><p>{{nombreCategoria}}</p></div>
<div ng-click="reverse=true">True</div>
<div ng-click="reverse=false">False</div>
<div class='section'>
    <p>{{orden}} {{reverse}}</p>
    <div class='boton_orden'>
        <select id='Orden' ng-model="orden">
            <option value="idProducto">Ordenar por...</option>
            <option value="nombreProducto">Orden nombre ascendente</option>
            <option value="nombreProducto">Orden nombre descendente</option>
            <option value="precioUnidad">Orden precio ascendente</option>
            <option value="precioUnidad">Orden precio descendente</option>
        </select>
    </div>
    <div class='article art puntero' ng-repeat="producto in productos | orderBy:orden">
        <a ng-href="#/detallesProducto/{{producto.idProducto}}">
        <h3>{{producto.nombreProducto}}</h3>
        <div class='imagen'><img ng-src="img/productos/{{producto.nombreCategoria}}/{{producto.imagen}}" alt="{{producto.nombreProducto}}"/></div>
        <div class='description' title="{{producto.descripcion}}">{{producto.descripcion}}</div>
        <div class='price'>Precio: <span>{{producto.precioUnidad}}</span> €</div>
        </a>
    </div>
</div>
-->